* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
}

a {
	text-decoration: none;
	color: #464646;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.heading {
	justify-content: space-around;
	padding: 2rem 0;
	font-weight: bold;
}

.heading .title {
	font-size: 2rem;
}

.links {
	padding-left: 1rem;
}

.links > a,.login > a {
	padding: 0 1rem;
}
.btn-primary {
	padding: .75rem 1.75rem;
	background-color: rgb(110, 232, 208);
	border-radius: 100px;
}
#signup {
	padding: .75rem 1.75rem;
	background-color: rgb(110, 232, 208);
	border-radius: 100px;
}

.main {
	height: 100%;
	padding: 1rem 0;
	justify-content: space-evenly;
}

.main #illustration {
	width: 30vw;
}

.content {
	flex-direction: column;
	justify-content: space-around;
	flex-basis: 40%;
}

.content .title {
	font-weight: bold;
	font-size: 2.5rem;
}

.content .subtitle {
	font-size: 1.25rem;
}
#get-started { align-self: flex-start; }